@model CoreBankingApplication.Data.AccIndexer

@{
    ViewBag.Title = "loanInterestAccrual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loan Interest Accrual Log</h2>
<hr />
@if (!Model.loanAccrualT.Any())
{
    <p>No Record In Database Yet!</p>
}
else
{
    <table id="accrual" class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Customer Account Name</td>
                <td>Customer Account Number</td>
                <td>Accred Amount</td>
                <td>Interest Rate On Loan</td>
                <td>Amount Loaned</td>
                <td>Loan Duration</td>
                <td>Customer Linked Account Type</td>
                <td>Customer Linked Account No</td>
                <td>Date loan was taken</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.loanAccrualT)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.customerAcctName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customerAcctNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.accruedAmt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.interestRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loanAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.linkedAcctName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.linkedAcctNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateOfLoan)
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@section scipts
{
    <script>
        $(document).ready(function () {
            $("#accrual").DataTable();

        });
    </script>
}