@model CoreBankingApplication.Data.AccIndexer

@{
    ViewBag.Title = "BankLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.acctIndexN Log</h2>

@if (!Model.tillLogs.Any())
{
    <p>No Record In Database Yet!</p>
}
else
{
    <table id="tillLog" class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Account Entry</td>
                <td>Corresponding Entry</td>
                <td>Amount</td>
                <td>Transaction Description</td>
                <td>Date of Transaction</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tillLogs)
            {
                <tr>
                    <td>DEBIT</td>
                    <td>@Html.DisplayFor(modelItem => item.accountRecieving)</td>
                    <td>@Html.DisplayFor(modelItem => item.amount)</td>
                    <td>Funding Till Account</td>
                    <td>@Html.DisplayFor(modelItem => item.dateOfTransaction)</td>
                </tr>
            }
            @foreach (var item in Model.postGLT)
            {
                if (item.glReceiving == Model.acctIndexN)
                {
                    <tr>
                        <td>CREDIT</td>
                        <td>@Html.DisplayFor(modelItem => item.glSending)</td>
                        <td>@Html.DisplayFor(modelItem => item.amountCredit)</td>
                        <td>@Html.DisplayFor(modelItem => item.narration)</td>
                        <td>@Html.DisplayFor(modelItem => item.dateOfTransaction)</td>
                    </tr>
                }
                if (item.glSending == Model.acctIndexN)
                {
                    <tr>
                        <td>DEBIT</td>
                        <td>@Html.DisplayFor(modelItem => item.glReceiving)</td>
                        <td>@Html.DisplayFor(modelItem => item.amountCredit)</td>
                        <td>@Html.DisplayFor(modelItem => item.narration)</td>
                        <td>@Html.DisplayFor(modelItem => item.dateOfTransaction)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@section scipts
{
    <script>
        $(document).ready(function () {
            $("#tillLog").DataTable();

        });
    </script>
}