@model CoreBankingApplication.Data.AccIndexer

@{
    ViewBag.Title = "editAcct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Error"] != null)
{
    <span class="label label-danger" style="font-size:large"> @TempData["Error"]</span>
}
<h2>Edit Customer's Account</h2>

@using (Html.BeginForm("saveEdit", "Customers"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerAccounts</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerAccounts.id)


        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAccounts.customerAccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAccounts.customerAccountNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.CustomerAccounts.customerAccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAccounts.customerAccountType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAccounts.customerAccountType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.CustomerAccounts.customerAccountType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAccounts.accountName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAccounts.accountName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.CustomerAccounts.accountName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAccounts.branchCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(m => m.CustomerAccounts.branchCreated, new SelectList(Model.branc, "branchName", "branchName"), "Select User Branch", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerAccounts.branchCreated, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.acctIndexN != "Phoenix Loan Account")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerAccounts.lien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerAccounts.lien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAccounts.lien, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAccounts.interestRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAccounts.interestRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerAccounts.interestRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "CustomerAccounts")
</div>
